<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997853511574-mqpvnpe627d8dd9aapohuqbtren08erq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997853511574-mqpvnpe627d8dd9aapohuqbtren08erq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>997853511574-lpnv8pta2ff24v81c22ok6v0u3busso5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-gWOjaAfcdBFrrRmKE3_dyAYQjToCmdk</string>
	<key>GCM_SENDER_ID</key>
	<string>997853511574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duydn.honeyaaa</string>
	<key>PROJECT_ID</key>
	<string>honeyaa-4151f</string>
	<key>STORAGE_BUCKET</key>
	<string>honeyaa-4151f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997853511574:ios:e303b8cd49be504f88e7b7</string>
</dict>
</plist>